.asset-collection-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.asset-collection-item {
    border: 1px solid #eee;
    padding: 0.5em;
    background: #fafafa;
    text-align: center;
    max-width: 180px;
}
.asset-collection-item img {
    width: 100%;
    max-width: 160px;
    height: auto;
    display: block;
}
.asset-collection-chub-link {
    margin-top: 1rem;
    display: inline-block;
    text-decoration: underline;
    color: #0057FF;
}